
# HTID:22603763: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:22603763:
<Limit GET POST PUT DELETE>
    Allow from all
</Limit>